<h1><b>Wildlife Tracker</b>&nbsp&nbsp&nbsp&nbsp<%= image_tag('wildlife_tracker.png') %></h1>

<h3>Update the following information about your sighting:</h3>
<form action="/sightings/<%= @sighting.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for "sighting_date">Date of Sighting&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
  <input id="sighting_date" name="sighting[date]" type="date" value="<%= @sighting.date %>">
  <br><label for "sighting_species">Species Sighted&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
  <input id="sighting_species" name="specie_name" type="text" size="23"
         value="<%= @sighting.specie.name %>" disabled>
  <label for "sighting_subspecies">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSubspecies Sighted (if known)</label>
  <input id="sighting_subspecies" name="sighting[subspecies]" type="text" value="<%= @sighting.subspecies %>">
  <br><label for "sighting_latitude">Latitude of Sighting</label>
  <input id="sighting_latidude" name="sighting[latitude]" type="number" step="any"
         value="<%= @sighting.latitude %>">
  <label for "sighting_longitude">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspLongitude of
            Sighting&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
  <input id="sighting_longitude" name="sighting[longitude]" type="number" step="any"
         value="<%= @sighting.longitude %>">
  <br><label for="sighting_region">Region of Sighting&nbsp&nbsp</label>
  <select id="sighting_region" name="sighting[region]">
    <% if !@regions.empty? %>
      <% @regions.each do |region| %>
      <option value="<%= region.name %>"><%= region.name %></option>
      <% end %>
    <% end %>
  </select>
  <br><br><button style="background-color:yellow">Update Sighting</button>
</form><br>
  <button style="background-color:red"><a href="/sightings/<%= @sighting.id %>"
        data-confirm="Are you sure you want to delete this sighting?"
        data-method="delete" rel="nofollow">Delete Sighting</a></button>
<br>
<h4><a href="/sightings">Record a sighting</a></h4>
<h4><a href="/sightings/all">See and maintain the list of sightings</a></h4>
<h4><a href="/species/new">Add a new species</a></h4>
<h4><a href="/species">See and maintain the list of species to be sighted</a></h4>
<h4><a href="/regions/new">Add a new sighting region</a></h4>
<h4><a href="/regions">See and maintain the list of sighting regions</a></h4>



